<h2>lista-pessoa works!</h2>
<input type="text" [(ngModel)]="name">
<button (click)="sendName()">Botão click</button>
<p>{{ name }}</p>

<ul>
  <li *ngFor="let person of people" >
    {{ person }}
  </li>
</ul>