<h2>event-binding para password</h2>
<input #valuePassword type="password" (keyup)="checkPass(valuePassword.value)">
<button [disabled]="! enabledButton" (click)="storagePass(valuePassword.value)">Gravar</button>
<br>
<br>
<br>
<label>Digite o Valor</label><br>
<input #valueData type="text" (keyup.enter)="add(valueData.value); valueData.value=''">
<ul>
    <li *ngFor="let vl of values">
        {{vl}}
    </li>
</ul>
<h2>Blur</h2>
<input type="text" #ageData (blur)="viewAge(ageData.value)">
<p>Você tem: {{age}}</p>