<h2>ng-for</h2>
<button type="text" (click)="update()">Atualizar</button>
<br>
<ul *ngFor="let n of names, let i = index; trackBy:mySave">
  <li>Id - {{ n.id }} - Nome da Pessoa é: {{ n.name }} no indice {{ i + 1 }}</li>
</ul>