<h2>ng-style</h2>
<button (click)="increment()">Aumentar Fonte do Texto</button>
<br>
<button (click)="toChangeFont()">Mudar fonte</button>
<br>
<button (click)="toChangeColor()">Mudar Cor</button>

<p [style.font-size]="30 + 'px'">lorem</p>
<p [style.font-size]="validFont ? 'x-large' : 'smaller'"
    [style.color]="validColor ? 'red' : 'blue'">lorem</p>

<p [ngStyle]="{'font-size': validFont ? 'x-large' : 'smaller',
                'color': validColor ? 'red' : 'blue'}">lorem</p>    

<p [style.font-size]="fontSize">lorem</p>
<p [style.font-size]="fontSize">lorem</p>
