<h2>*ng-if works!</h2>

<div *ngIf = "true">
  *ng-if verdadeiro
</div>

<div *ngIf = "false">
  *ng-if falso
</div>
<br>
<button (click)="toast()">Click Para Curso</button>
<p *ngIf="getValue()">Angular 4 ngIf</p>

<br>
<p *ngIf="course.length == 0">Não Temos Curso</p>
<p *ngIf="course.length > 0">Agora temos {{ conterCourse() }} Curso de Angular 4</p>

<br>
<button (click)="addCourse()">Adicionar Curso</button>