<h2>ng-switch-case</h2>
<button type="text" (click)="incrementNumber()">Incrementar</button>

<br>

<div [ngSwitch]="number">
    <p *ngSwitchCase="1">A variavel está com valor de {{ number }}</p>
    <p *ngSwitchCase="2">A variavel está com valor de {{ number }}</p>
    <p *ngSwitchCase="3">A variavel está com valor de {{ number }}</p>
    <p *ngSwitchCase="4">A variavel está com valor de {{ number }}</p>
    <p *ngSwitchDefault>Variavel fora da regra, está com valor de {{ number }}</p>
</div>