<h2>[ng-class]</h2>

<p [class.back-color]="true">usando class binding, [class.back-color]="true"</p>

<p [class.back-color]="valueClassBinding">usando class binding, [class.back-color]="true"</p>
<p [ngClass]="{'back-color':valueClassBinding}">usando class binding, [class.back-color]="true"</p>


<p [class.back-color]="valueClassBinding" 
    [class.color-text]="valueClassBinding" 
    [class.style-text]="valueClassBinding"
    [class.paragraph-border]="valueClassBinding">usando varios class binding</p>

<p  [ngClass]="{'back-color': valueClassBinding,
            'color-text': valueClassBinding,
            'style-text': valueClassBinding,
            'paragraph-border': valueClassBinding}">usando varios class binding</p>   

<p  [ngClass]="classes()">usando varios class binding</p> 
<button (click)="toChangeClassBinding()">Mudar</button>