<h2>form</h2>
<form (ngSubmit)="sendData()" #cad="ngForm">
  <div>
    <label for="name">Nome</label>
    <input type="text" [(ngModel)]="contact.fullname" #fullname="ngModel" name="fullname" required>
    <div [hidden]="fullname.valid || fullname.pristine">
      <p>Nome é obrigatório.</p>
    </div>
  </div>
  <br>
  <div ngModelGroup="allContacts" #allContacts="ngModelGroup">
    <div>
      <label for="phone">Telefone</label>
      <input type="text" [(ngModel)]="contact.phone" #phone="ngModel" name="phone" required>
      <div [hidden]="phone.invalid || phone.dirty">
        <p>Telefone é obrigatório</p>
      </div>
    </div>
    <br>
    <div>
      <label for="email">E-mail</label>
      <input type="text" [(ngModel)]="contact.email" #email="ngModel" name="email" required>
      <div [hidden]="email.pristine">
        <p>O conteudo do campo foi mudado</p>
      </div>
      <div *ngIf="email.touched">
        <p>Clicou fora do campo</p>
      </div> 
    </div>
  </div>  
   <br>
  <div>
    <button type="submit" [disabled]="cad.form.invalid">Enviar</button>
  </div>
</form>

<p>{{allContacts}}</p>
<p>{{allContacts.value | json}}</p>