<div style="text-align:center">
<!--  <h1>
      Estudo: {{title}}
  </h1>
  <img [src]="image" /><br>
  <button (click)="sendMsg()">Botão click</button>
  <app-lista-pessoa></app-lista-pessoa>
--> 
<!--<app-interpolation-binding></app-interpolation-binding>-->

<!--<app-two-way-binding></app-two-way-binding> -->

<!--<app-ng-if></app-ng-if>-->

<!--<app-ng-switch-case></app-ng-switch-case>-->

<!--<app-ng-for></app-ng-for>-->

<!--<app-ng-class></app-ng-class>-->

<!--<app-ng-style></app-ng-style>-->
<!--<app-ng-content>
  <div class="mTitle">
    meu conteudo com select
  </div>

  <div class="mBody">
    meu conteudo com select
  </div>

  <div class="mBody">
    meu segundo conteudo com select
  </div>
</app-ng-content>-->

<!--<app-event-binding></app-event-binding>-->

<!--<app-event-binding-password></app-event-binding-password>-->

<!--<app-input-output [menu]="dev" (nameToClick)="valueSent($event)"></app-input-output>
<p>você clicou em: {{value}}</p>-->

<!--<app-form></app-form>-->
<app-di></app-di>
</div>

