<h2>
  < ng-content >
</h2>

<table>
  <thead>
    <tr>
      <th>
        <ng-content select=".mTitle"></ng-content>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <ng-content select=".mBody"></ng-content>
      </td>
    </tr>
  </tbody>
</table>
