<h2>event-binding</h2>
<button (click)="myClick()">Clique aqui</button>
<input type="text" (keyup)="digito($event)">
<br>
<br>
<input #valueInput type="text" (keyup)="keyPressVarTemplate(valueInput.value)">
